<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>User list</title>
    </head>
    <body>
        <input type="text" id="filteredTextBox" placeholder="ここにテキストを入力">
        <button id="clickButton">絞り込み</button>
        <table>
            <% personas.forEach(function(persona) { %>
                <tr class="persona-row">
                    <th id="nameTitle">名前：<%= persona.name %>
                    </th>
                    <th id="emailTitle">email：<%= persona.email %>
                    </th>
                    <th id="kanaNameTitle">読み仮名：<%= persona.kana_name %>
                    </th>
                    <th id="genderTitle">性別：<%= persona.gender %>
                    </th>
                    <th id="phoneTitle">電話番号：<%= persona.phone %>
                    </th>
                    <th id="workplaceTitle">仕事場：<%= persona.workplace %>
                    </th>
                    <th id="houseTitle">世帯数：<%= persona.household %>
                    </th>
                    <th><a href="/edit/<%= persona.id %>">更新</a></th>
                    <th><a href="/delete/<%= persona.id %>">削除</a></th>
                </tr>
                <% }); %>
        </table>
        <p><a href="/create">ユーザーの追加</a></p>
        
        <script type="text/javascript">
            let clickButton = document.getElementById('clickButton');
            clickButton.addEventListener('click', filterData);

            function filterData() {
                let filteredTextBox = document.getElementById('filteredTextBox');
                let filterKeyword = filteredTextBox.value.toLowerCase();

                let personaRows = document.querySelectorAll('.persona-row');
                personaRows.forEach(function (row) {
                    row.style.display = '';
                });

                if (filterKeyword !== '') {
                    personaRows.forEach(function (row) {
                        let name = row.querySelector('th').textContent;
                        if (name.toLowerCase().includes(filterKeyword)) {
                            row.style.display = '';
                        } else {
                            row.style.display = 'none';
                        }
                    });
                }
            }
        </script>
    </body>
</html>
